@import "blueprint/reset";
@import "blueprint";
@import "partials/base";
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

body.bp {
  color: $txt_color;
  a, a:visited {
    color: $link_color; }
  a:hover {
    color: $hover_color; }
  #header { 
    margin-top: 10px;
    top: 0px;
    left: 0px;  }
  #container {
    @include container;
    margin: auto;
    padding: 0 30px 10px;
    h1, h2, h3 {
      color: $header_color; } }
  #footer {
    clear: both;
    padding: 20px;
    text-align: center; 
    position: relative;
    z-index: 60; } }

body {
  background: $bg_color url("/theme/images/bg.jpg") no-repeat left top; }

#top_bg {
  text-indent: -9999px;
  background: url("/theme/images/top-bg.png");
  position: absolute;
  top: 0px;
  left: 0px;
  height: 500px;
  width: 1000px;
  z-index: 10;
}

#bottom_bg {
  text-indent: -9999px;
  background: url("/theme/images/bottom-bg.png") no-repeat right top;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 410px;
  width: 1000px;
  z-index: 30;
}

#site_bar_content {
  position: relative;
  z-index: 50;
}

#logo {
  margin-top: 50px;
  position: relative;
  z-index: 0;
}

#content {
  margin-top: 20px; }

#content {
  background: url("/theme/images/black50.png");
  min-height: 450px;
  padding: 10px;
  @include rounded_corners;
  @include drop_shadow;  }

#site_bar { @include rounded_bottom_corners; }

ul#menu {
  float: right;
  margin: 0;
  padding: 0;
  margin-top: -60px;
  background: url("/theme/images/black50.png");
  @include rounded_corners;
  @include drop_shadow;
  position: relative;
  z-index: 20;
  
  li {
    list-style: none;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-right: 25px;
    a {
      color: $menu_link; 
      text-decoration: none; 
      display: block; 
      padding: 10px; } 
    a:hover {
      color: $menu_hover; }}
    
  li:hover {
    color: $menu_hover; 
    background-color: $menu_link; } 
    
  li.first {
    @include rounded_left_corners;
  }
    
  li.last { 
    margin-right: 0;
    @include rounded_right_corners } }

#social_media {
  position: fixed;
  z-index: 50;
  top: 40%;
  right: -140px;
  background-color: $bg_color;
  #follow {
    padding: 0;
    float: left;
    #tab {
      float: left;
      display: inline-block;
      margin-right: 7px; }
    #social_icons {
      @include rounded_left_corners;
    }
    .box {
      float: right;
      margin: 2px 70px 2px 0;
      padding: 0 5px 0 10px;
      background-color: $bg_color;
      a {
        display: block;
        margin-bottom: 6px; } } } }
