@import "blueprint/reset";
@import "blueprint";
@import "partials/base";
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

body.bp {
  color: $txt_color;
  background-color: $bg_color;
  a, a:visited {
    color: $link_color; }
  a:hover {
    color: $hover_color; }
  #header { 
    margin-top: 10px;
    height: 205px;
    top: 0px;
    left: 0px;  }
  #container {
    @include container;
    background: $bg_color url("/theme/images/bg.jpg") no-repeat left top;
    margin: auto;
    padding: 0 30px 10px;
    h1, h2, h3 {
      color: $header_color; } }
    h1.page_title {
      padding: 16px;
      background-color: #012;
      border: 1px solid #015;
      @include rounded_corners;
      @include drop_shadow;
      font-family: Futura Medium, Century Gothic, AppleGothic, sans-serif;
    }
  #footer {
    clear: both;
    padding: 20px 0;
    #links {
      padding: 10px 40px;
      background: url(/theme/images/black50.png);
      @include rounded_corners;
    }    
    text-align: center; 
    position: relative;} }

#site_bar {
  background-color: #000;
  padding: 10px;
  font-size: 14px;
}
#site_bar_content {
  position: relative;
}
#site_bar_branding {
  float: right;
}

#logo {
  margin-top: 50px;
  position: relative;
}

#content {
  margin-top: 20px;
  background: url("/theme/images/black50.png");
  min-height: 450px;
  padding: 10px;
  @include rounded_corners;
  @include drop_shadow;  }

#site_bar { @include rounded_bottom_corners; }

nav#menu {
  float: right;
  margin: 60px 0 0 0;
  padding: 0;
  background: url("/theme/images/black50.png");
  @include rounded_corners;
  @include drop_shadow;
  position: relative;
  ul {
    margin: 0;
    padding: 0;  
  }
  ul li {
    list-style: none;
    font-size: 16px;
    display: inline-block;
    float: left;
    a {
      color: $menu_link; 
      text-decoration: none; 
      display: block; 
      padding: 4px 8px; } 
    a:hover {
       }}
    
  ul li:hover {
    color: $menu_hover; 
    background-color: black; } 
    
  ul li.first {
    @include rounded_left_corners;
  }
  
  ul li.selected {
    color: $menu_hover; 
    background-color: $menu_link + 50;  }
  ul li.selected a {
    color: $menu_hover; }
    
  ul li.last { 
    margin-right: 0;
    @include rounded_right_corners } }

#social_media {
  position: fixed;
  top: 40%;
  right: -140px;
  background-color: $bg_color;
  #follow {
    padding: 0;
    float: left;
    #tab {
      float: left;
      display: inline-block;
      margin-right: 7px; }
    #social_icons {
      @include rounded_left_corners;
    }
    .box {
      float: right;
      margin: 2px 70px 2px 0;
      padding: 0 5px 0 10px;
      background-color: $bg_color;
      a {
        display: block;
        margin-bottom: 6px; } } } }

body.bp #container #body_content_page_title {
  position: fixed;
  font-size: 16px;
  bottom: 0;
  right: 0px;
  width: 100%;
  padding: 8px;
  background-color: white;
  text-align: right;
  color: #000;
  margin-bottom: 0;
  font-weight: normal;
}

body.bp #container #body_content_page_title:before {
  font-size: 12px;
  font-style: italic;
  content: "you are here » ";
}

body.bp #content { position: relative; }

body.bp #new_inquiry {
  margin: 20px 0;
  padding: 20px;
  @include rounded_corners;
  .field {
    margin-bottom: 10px;
    input[type=text], textarea {
      font-size: 16px;
      background-color: #ead19b;
      padding: 4px;
    }
    label {
      display: block;
      font-size: 14px;
      color: $link_color;
    }
  }
  input[type=submit] {
    @include rounded_corners;
    background: url(/theme/images/black50.png);
    color: $link_color;
    padding: 8px;
    font-size: 18px;
  }
  input[type=submit]:hover {
    background-color: $link_color;
    color: black;
    cursor: pointer;
  }
}

body.bp p {
  font-size: 14px;
}

#body_content_left {
  float: left;
  display: inline-block;
  width: 70%;
}

#body_content_right {
  float: left;
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  width: 25%;
}



body.bp ul#events {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    background: url(/theme/images/black50.png);
    border: 1px solid #000;
    @include rounded_corners;
    @include drop_shadow;
    margin: 0 0 20px 0;
    overflow: hidden;
    padding: 12px;
    .logo, .description {
      float: left;
      display: inline;
    }
    .logo {
      width: 100px;
      img {
        width: 100px;
      }
    }
    .description {
      margin-left: 10px;
      width: 480px;
    }
    .title {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
    }
    .tickets {
      float:right;
      margin-top:-35px;
      a {
        text-decoration: none;
      }
    }
  }
}

body.bp #event_gallery {
  width: 100%;
  #events {
    padding: 20px;
    overflow: hidden;
    .event {
      .title {
        font-size: 24px;
      }
      .tickets {
        float:right;
        margin-top:-50px;
        a {
          font-size: 20px;
          text-decoration: none;
        }
      }
      .logo {
        clear:both;display:inline-block;float:left;
        background: url(/theme/images/black50.png);
        width: 250px;
        padding: 12px;
        border: 1px solid $copy_bg;
        @include rounded_corners;
        text-align: center;
        img {
          max-width: 250px;
        }
      }
      .info {
        padding: 15px 30px;
        width: 500px;
        @include rounded_corners;
        background: url(/theme/images/black50.png);
        color: #ffffff;
        display:inline-block;
        float:right;
        margin-left:20px;
        overflow: auto;
      }
    }
  }
  
  #event_picker {
    margin: 40px auto;
    padding: 10px;
    text-align: center;
    @include rounded_corners;
    background: url(/theme/images/black50.png);
    .event_icon {
      display: inline-block;
      height: 60px;
      padding: 0 10px;
      position: relative;
      .logo {
        max-width: 100px;
        overflow: hidden;
        cursor: pointer;
        img {
          height: 70px;
          position: relative;
        }
      }
      .info {
        position: absolute;
        top: -66px;
        margin-bottom: -56px;
        padding: 8px;
        background: url(/theme/images/black50.png);
        border: 2px solid #000;
        color: $link_color;
        letter-spacing: .3ex;
        @include rounded_corners;
        width: 200px;
      }
    }
    .picker-left {
      float: left;
    }
    .picker-right {
      float: right;
    }
  }
}

body.bp #body_content_right {
  h1 { font-size: 16px; }
  h2 { font-size: 14px; }
  h3 { font-size: 13px; }
  h4 { font-size: 12px; }
  h5 { font-size: 11px; }
  h6 { font-size: 10px; }
  h1,h2,h3,h4,h5,h6 { font-weight:bold; }
  margin-bottom: 40px;
}

body.bp article {
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  h3 {
    padding: 10px;
    background-color: #012;
    border: 1px solid #015;
    @include rounded_corners;
    a {
      color: $link_color + 50;
    }
  }
}