@import "blueprint/reset";
@import "blueprint";
@import "partials/base";
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

body.bp {
  color: $txt_color;
  background-color: $bg_color;
  a, a:visited {
    color: $link_color; }
  a:hover {
    color: $hover_color; }
  #header { 
    margin-top: 10px;
    height: 205px;
    top: 0px;
    left: 0px;  }
  #container {
    @include container;
    width: 1120px;
    background: $bg_color url("/theme/images/bg.jpg") no-repeat left top;
    margin: auto;
    padding: 0 60px;
    h1, h2, h3 {
      color: $header_color; } }
    h1.page_title {
      padding: 16px;
      background-color: #012;
      border: 1px solid #015;
      @include rounded_corners;
      @include drop_shadow;
      font-family: Futura Medium, Century Gothic, AppleGothic, sans-serif;
    }
  #footer {
    clear: both;
    padding: 20px 0;
    #links {
      padding: 10px 40px;
      background: url(/theme/images/black50.png);
      @include rounded_corners;
    }    
    text-align: center; 
    position: relative;} }

#site_bar {
  background-color: #000;
  padding: 10px;
  font-size: 14px;
}
#site_bar_content {
  position: relative;
}
#site_bar_branding {
  float: right;
}

#logo {
  margin-top: 50px;
  position: relative;
}

#content {
  margin-top: 20px;
  background: url("/theme/images/black70.png");
  min-height: 450px;
  padding: 15px;
  @include rounded_corners;
  @include drop_shadow;  }

#site_bar { @include rounded_bottom_corners; }

#menu, #social_media {
  float: right;
  margin: 60px 0 0 0;
  @include drop_shadow(5px);
}
#menu {
  float: right;
  margin-right: 15px;
  padding: 0;
  position: relative;
  background: transparent url("/theme/images/nav.jpg") no-repeat top left;
  font-face: Futura, Arial, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px;
  height: 138px;
  width: 410px;
  ul {
    margin: 10px 0 0 30px;
    padding: 0;  
    float: left;
  }
  ul li {
    list-style: none;
    font-size: 16px;
    display: block;
    a {
      color: $menu_link; 
      text-decoration: none; 
      display: block; 
      padding: 0; } 
  }    
  ul li a:hover {
    color: $menu_hover; }  
}

#social_media {
  background: url('/theme/images/social_media.jpg') no-repeat top left;
  width: 73px;
  height: 139px;
  float: right;
  #facebook { 
    margin-top: 18px;
    margin-left: 10px;
  }
  #twitter {
    margin-left: 12px;
  }
  #facebook img, #twitter img {
    @include drop_shadow;    
  }
}

body.bp #container #body_content_page_title {
  position: fixed;
  font-size: 16px;
  bottom: 0;
  right: 0px;
  width: 100%;
  padding: 8px;
  background-color: white;
  text-align: right;
  color: #000;
  margin-bottom: 0;
  font-weight: normal;
}

body.bp #container #body_content_page_title:before {
  font-size: 12px;
  font-style: italic;
  content: "you are here » ";
}

body.bp #content { position: relative; }

body.bp #new_inquiry {
  margin: 20px 0;
  padding: 20px;
  @include rounded_corners;
  .field {
    margin-bottom: 10px;
    input[type=text], textarea {
      font-size: 16px;
      background-color: #ead19b;
      padding: 4px;
    }
    label {
      display: block;
      font-size: 14px;
      color: $link_color;
    }
  }
  input[type=submit] {
    @include rounded_corners;
    background: url(/theme/images/black50.png);
    color: $link_color;
    padding: 8px;
    font-size: 18px;
  }
  input[type=submit]:hover {
    background-color: $link_color;
    color: black;
    cursor: pointer;
  }
}

body.bp p {
  font-size: 14px;
}

#body_content_left {
  float: left;
  display: inline-block;
  width: 70%;
  background: url('/themes/images/black70.png')
}

#body_content_right {
  float: left;
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  width: 25%;
}



body.bp ul#events {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    background: url(/theme/images/black50.png);
    border: 1px solid #000;
    @include rounded_corners;
    @include drop_shadow;
    margin: 0 0 20px 0;
    overflow: hidden;
    padding: 12px;
    .logo, .description {
      float: left;
      display: inline;
    }
    .logo {
      width: 100px;
      img {
        width: 100px;
      }
    }
    .description {
      margin-left: 10px;
      width: 480px;
    }
    .title {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
    }
    .tickets {
      float:right;
      margin-top:-35px;
      a {
        text-decoration: none;
      }
    }
  }
}

body.bp #event_gallery {
  width: 100%;
  #events {
    padding: 20px;
    overflow: hidden;
    .event {
      .title {
        font-size: 24px;
      }
      .tickets {
        float:right;
        margin-top:-50px;
        a {
          font-size: 20px;
          text-decoration: none;
        }
      }
      .logo {
        clear:both;display:inline-block;float:left;
        background: url(/theme/images/black50.png);
        width: 250px;
        padding: 12px;
        border: 1px solid $copy_bg;
        @include rounded_corners;
        text-align: center;
        img {
          max-width: 250px;
        }
      }
      .info {
        padding: 15px 30px;
        width: 680px;
        @include rounded_corners;
        background: url(/theme/images/black50.png);
        color: #ffffff;
        display:inline-block;
        float:right;
        margin-left:20px;
        overflow: auto;
      }
    }
  }
  
  #event_picker {
    margin: 40px auto;
    padding: 10px;
    text-align: center;
    @include rounded_corners;
    background: url(/theme/images/black50.png);
    .event_icon {
      display: inline-block;
      height: 60px;
      padding: 0 10px;
      position: relative;
      .logo {
        max-width: 100px;
        overflow: hidden;
        cursor: pointer;
        img {
          height: 70px;
          position: relative;
        }
      }
      .info {
        position: absolute;
        top: -66px;
        margin-bottom: -56px;
        padding: 8px;
        background: url(/theme/images/black50.png);
        border: 2px solid #000;
        color: $link_color;
        letter-spacing: .3ex;
        @include rounded_corners;
        width: 200px;
      }
    }
    .picker-left {
      float: left;
    }
    .picker-right {
      float: right;
    }
  }
}

body.bp #body_content_right {
  h1 { font-size: 16px; }
  h2 { font-size: 14px; }
  h3 { font-size: 13px; }
  h4 { font-size: 12px; }
  h5 { font-size: 11px; }
  h6 { font-size: 10px; }
  h1,h2,h3,h4,h5,h6 { font-weight:bold; }
  margin-bottom: 40px;
}

body.bp .article {
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  padding: 0 0 20px 0;
  background: url('/theme/images/black50.png');
  @include drop_shadow;
  @include rounded_bottom_corners;
  border: 1px solid $border_color;
  .article-body {
    padding: 30px 10px 10px 10px;
  }
  p.article-pub-date {
    display: inline-block;
    float: right;
    margin: 5px 5px 0 0;
    padding: 0;
    color: $link_color;
  }
  h3 {
    padding: 10px;
    margin: 0;
    font-size: 24px;
    @include rounded_top_corners;
    a {
      color: $link_color + 50;
    }
  }
}