html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

html { font-size: 100.01%; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body.bp { line-height: 1.5; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 { font-weight: normal; color: #ffffc7; }
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img { margin: 0; }
body.bp h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }
body.bp h2 { font-size: 2em; margin-bottom: 0.75em; }
body.bp h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }
body.bp h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body.bp h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }
body.bp h6 { font-size: 1em; font-weight: bold; }
body.bp p { margin: 0 0 1.5em; }
body.bp p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body.bp p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body.bp a { text-decoration: underline; color: #fee4a9; }
body.bp a:visited { color: #000066; }
body.bp a:focus { color: black; }
body.bp a:hover { color: black; }
body.bp a:active { color: #cc0099; }
body.bp blockquote { margin: 1.5em; color: #666666; font-style: italic; }
body.bp strong { font-weight: bold; }
body.bp em { font-style: italic; }
body.bp dfn { font-style: italic; font-weight: bold; }
body.bp sup, body.bp sub { line-height: 0; }
body.bp abbr, body.bp acronym { border-bottom: 1px dotted #666666; }
body.bp address { margin: 0 0 1.5em; font-style: italic; }
body.bp del { color: #666666; }
body.bp pre { margin: 1.5em 0; white-space: pre; }
body.bp pre, body.bp code, body.bp tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }
body.bp li ul, body.bp li ol { margin: 0; }
body.bp ul, body.bp ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }
body.bp ul { list-style-type: disc; }
body.bp ol { list-style-type: decimal; }
body.bp dl { margin: 0 0 1.5em 0; }
body.bp dl dt { font-weight: bold; }
body.bp dd { margin-left: 1.5em; }
body.bp table { margin-bottom: 1.4em; width: 100%; }
body.bp th { font-weight: bold; }
body.bp thead th { background: #c3d9ff; }
body.bp th, body.bp td, body.bp caption { padding: 4px 10px 4px 5px; }
body.bp tr.even td { background: #e5ecf9; }
body.bp tfoot { font-style: italic; }
body.bp caption { background: #eeeeee; }
body.bp .quiet { color: #666666; }
body.bp .loud { color: #111111; }
body.bp .clear { clear: both; }
body.bp .nowrap { white-space: nowrap; }
body.bp .clearfix { overflow: hidden; *zoom: 1; }
body.bp .small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
body.bp .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body.bp .first { margin-left: 0; padding-left: 0; }
body.bp .last { margin-right: 0; padding-right: 0; }
body.bp .top { margin-top: 0; padding-top: 0; }
body.bp .bottom { margin-bottom: 0; padding-bottom: 0; }
body.bp .showgrid { background: url('/images/grid.png?1287548030'); }
body.bp .error { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body.bp .error a { color: #8a1f11; }
body.bp .notice { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body.bp .notice a { color: #514721; }
body.bp .success { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body.bp .success a { color: #264409; }
body.bp .hide { display: none; }
body.bp .highlight { background: yellow; }
body.bp .added { background: #006600; color: white; }
body.bp .removed { background: #990000; color: white; }

body.bp .box { padding: 1.5em; margin-bottom: 1.5em; background: #e5ecf9; }
body.bp div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eeeeee; }
body.bp div.colborder { padding-right: 23px; margin-right: 24px; border-right: 1px solid #eeeeee; }
body.bp hr { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; }
body.bp hr.space { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; background: white; color: white; visibility: hidden; }
body.bp form.inline { line-height: 3; }
body.bp form.inline p { margin-bottom: 0; }

form.bp label { font-weight: bold; }
form.bp fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
form.bp legend { font-weight: bold; font-size: 1.2em; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] { margin: 0.5em 0; background-color: white; padding: 5px; }
form.bp input.title { font-size: 1.5em; }
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio { position: relative; top: 0.25em; }
form.bp textarea { margin: 0.5em 0; padding: 5px; }
form.bp select { margin: 0.5em 0; }
form.bp fieldset { border: 1px solid #cccccc; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password], form.bp textarea, form.bp select { border: 1px solid #bbbbbb; }
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus, form.bp textarea:focus, form.bp select:focus { border: 1px solid #666666; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] { width: 300px; }
form.bp textarea { width: 390px; height: 250px; }

body.two-col #container { width: 920px; margin: 0 auto; overflow: hidden; *zoom: 1; }
body.two-col #header, body.two-col #footer { display: inline; float: left; margin-right: 10px; width: 920px; }
* html body.two-col #header, * html body.two-col #footer { overflow-x: hidden; }
body.two-col #sidebar { display: inline; float: left; margin-right: 10px; width: 300px; }
* html body.two-col #sidebar { overflow-x: hidden; }
body.two-col #content { display: inline; float: left; margin-right: 0; width: 610px; }
* html body.two-col #content { overflow-x: hidden; }

body.bp { color: #fefefe; position: relative; background: #a17c34 url("/theme/images/textured-BG.jpg"); }
body.bp a, body.bp a:visited { color: #fee4a9; }
body.bp a:hover { color: white; }
body.bp #header { margin-top: 10px; height: 205px; top: 0px; left: 0px; }
body.bp #logo { width: 100%; height: 100%; position: relative; margin: 0; z-index: 0; background: url("/theme/images/rings.png") no-repeat 0px -40px; position: fixed; overflow: visible; }
body.bp #container { width: 920px; margin: 0 auto; overflow: hidden; *zoom: 1; width: 1020px; margin: auto; padding: 0 60px; }
body.bp #container h1, body.bp #container h2, body.bp #container h3 { color: #ffffc7; }
body.bp h1.page_title { padding: 16px; background-color: #012; border: 1px solid #015; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -moz-box-shadow: 2px 2px 2px #222222; box-shadow: 2px 2px 2px #222222; -webkit-box-shadow: 2px 2px 2px #222222; font-family: Futura Medium, Century Gothic, AppleGothic, sans-serif; }
body.bp #footer { clear: both; padding: 20px 0; text-align: center; position: relative; }
body.bp #footer #links { padding: 10px 40px; background: url(/theme/images/black70.png); -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }

#site_bar { background-color: #000; padding: 10px; font-size: 14px; }

#site_bar_content { position: relative; }

#site_bar_branding { float: right; }

#logo { margin-top: 50px; position: relative; }

#content { margin-top: 20px; background: url("/theme/images/black70.png"); min-height: 450px; padding: 15px; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -moz-box-shadow: 2px 2px 2px #222222; box-shadow: 2px 2px 2px #222222; -webkit-box-shadow: 2px 2px 2px #222222; }

#site_bar { -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }

#menu, #social_media { float: right; margin: 60px 0 0 0; -moz-box-shadow: 5px 2px 2px #222222; box-shadow: 5px 2px 2px #222222; -webkit-box-shadow: 5px 2px 2px #222222; position: relative; z-index: 10; }

#menu { float: right; margin-right: 15px; padding: 0; position: relative; background: transparent url("/theme/images/nav.jpg") no-repeat top left; font-face: Futura, Arial, Verdana, sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 0px; height: 138px; width: 410px; }
#menu ul { margin: 10px 0 0 30px; padding: 0; float: left; }
#menu ul li { list-style: none; font-size: 16px; display: block; }
#menu ul li a { color: white; text-decoration: none; display: block; padding: 0; }
#menu ul li a:hover { color: #320101; }

#social_media { background: url("/theme/images/social_media.jpg") no-repeat top left; width: 73px; height: 139px; float: right; }
#social_media #facebook { margin-top: 18px; margin-left: 10px; }
#social_media #twitter { margin-left: 12px; }
#social_media #facebook img, #social_media #twitter img { -moz-box-shadow: 2px 2px 2px #222222; box-shadow: 2px 2px 2px #222222; -webkit-box-shadow: 2px 2px 2px #222222; }

body.bp #container #body_content_page_title { position: fixed; font-size: 16px; bottom: 0; right: 0px; width: 100%; padding: 8px; background-color: white; text-align: right; color: #000; margin-bottom: 0; font-weight: normal; z-index: 500; }

body.bp #container #body_content_page_title:before { font-size: 12px; font-style: italic; content: "you are here » "; }

body.bp #content { position: relative; }

body.bp #new_inquiry { margin: 20px 0; padding: 20px; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }
body.bp #new_inquiry .field { margin-bottom: 10px; }
body.bp #new_inquiry .field input[type=text], body.bp #new_inquiry .field textarea { font-size: 16px; background-color: #ead19b; padding: 4px; }
body.bp #new_inquiry .field label { display: block; font-size: 14px; color: #fee4a9; }
body.bp #new_inquiry input[type=submit] { -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background: url(/theme/images/black50.png); color: #fee4a9; padding: 8px; font-size: 18px; }
body.bp #new_inquiry input[type=submit]:hover { background-color: #fee4a9; color: black; cursor: pointer; }

body.bp p { font-size: 14px; }

#pages-home #body_content_left p { font-size: 22px; text-shadow: #000 1px 1px 1px; font-family: "Sansation", "Lucida Grande", "Verdana", "Arial", "Helvetica", "Gill Sans", sans-serif; background: url("/themes/images/black70.png"); }

#body_content_left { float: left; display: inline-block; width: 70%; }

#body_content_right { float: left; display: inline-block; margin-left: 10px; padding: 10px; width: 200px; background-color: #000; }

#body_content_left { width: 740px; margin-right: 20px; }

#body_content.no_body_content_right #body_content_left { width: 1000px; }

body.bp ul#events { margin: 0; padding: 0; list-style: none; }
body.bp ul#events li { list-style: none; background: url(/theme/images/black70.png); border: 1px solid #000; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -moz-box-shadow: 2px 2px 2px #222222; box-shadow: 2px 2px 2px #222222; -webkit-box-shadow: 2px 2px 2px #222222; margin: 0 0 20px 0; overflow: hidden; padding: 12px; }
body.bp ul#events li .logo, body.bp ul#events li .description { float: left; display: inline; }
body.bp ul#events li .logo { width: 100px; }
body.bp ul#events li .logo img { width: 100px; }
body.bp ul#events li .description { margin-left: 10px; width: 480px; }
body.bp ul#events li .title { font-size: 18px; display: block; margin-bottom: 10px; }
body.bp ul#events li .tickets { float: right; margin-top: -10px; }
body.bp ul#events li .tickets a { text-decoration: none; }

body.bp #event_gallery { width: 100%; }
body.bp #event_gallery #events { padding: 0px; overflow: hidden; }
body.bp #event_gallery #events .event .title { font-size: 24px; }
body.bp #event_gallery #events .event .tickets { float: right; margin-top: -20px; }
body.bp #event_gallery #events .event .tickets a { font-size: 20px; text-decoration: none; }
body.bp #event_gallery #events .event .logo { clear: both; display: inline-block; float: left; background-color: #000; width: 250px; padding: 12px; border: 1px solid #775725; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; text-align: center; }
body.bp #event_gallery #events .event .logo img { max-width: 250px; }
body.bp #event_gallery #events .event .info { padding: 10px 15px; width: 640px; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-color: #000; color: #ffffff; display: inline-block; float: right; margin-left: 20px; overflow: auto; }
body.bp #event_gallery #event_picker { margin: 40px auto; padding: 10px; text-align: center; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-color: #000; }
body.bp #event_gallery #event_picker .event_icon { display: inline-block; height: 60px; padding: 0 10px; position: relative; }
body.bp #event_gallery #event_picker .event_icon .logo { max-width: 100px; overflow: hidden; cursor: pointer; }
body.bp #event_gallery #event_picker .event_icon .logo img { height: 70px; position: relative; }
body.bp #event_gallery #event_picker .event_icon .info { position: absolute; top: -66px; margin-bottom: -56px; padding: 8px; background: url(/theme/images/black70.png); border: 2px solid #000; color: #fee4a9; letter-spacing: .3ex; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; width: 200px; z-index: 80; }
body.bp #event_gallery #event_picker .picker-left { float: left; }
body.bp #event_gallery #event_picker .picker-right { float: right; }

body.bp #body_content_right { margin-bottom: 40px; }
body.bp #body_content_right h1 { font-size: 16px; }
body.bp #body_content_right h2 { font-size: 14px; }
body.bp #body_content_right h3 { font-size: 13px; }
body.bp #body_content_right h4 { font-size: 12px; }
body.bp #body_content_right h5 { font-size: 11px; }
body.bp #body_content_right h6 { font-size: 10px; }
body.bp #body_content_right h1, body.bp #body_content_right h2, body.bp #body_content_right h3, body.bp #body_content_right h4, body.bp #body_content_right h5, body.bp #body_content_right h6 { font-weight: bold; }

body.bp .article { border-bottom: 1px solid white; margin-bottom: 40px; padding: 0 0 20px 0; background: url("/theme/images/black70.png"); -moz-box-shadow: 2px 2px 2px #222222; box-shadow: 2px 2px 2px #222222; -webkit-box-shadow: 2px 2px 2px #222222; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; border: 1px solid #222222; }
body.bp .article .article-body { padding: 30px 10px 10px 10px; }
body.bp .article p.article-pub-date { display: inline-block; float: right; margin: 5px 15px 0 0; padding: 0 10px 0 0; color: #fee4a9; }
body.bp .article h3 { padding: 10px; margin: 0; font-size: 24px; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; }
body.bp .article h3 a { color: #ffffdb; }
